.movies-container {
  display: flex;
  flex-wrap: wrap;
}


// Movie Poster
// movie poster container
.movie {
  width: auto;
  height: auto;
  //   background-color: rgb(26, 8, 21);
  //   background-color: #0a1e33;
  // background-color: #0c2f4b;
  background-color: #0b3957;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1px;
  &:hover {
    border: none;
    // box-shadow: 5px 15px 10px rgb(5, 5, 107);
    box-shadow: 5px 15px 10px var(--clr-neutral-900);
    // transform: translate3d(5px, -15px, 30px);
    transform: scale(1.06);
    border-radius: 0.4rem;
    transition: 0.5s;
    z-index: 1;
  }
// Roman
.posters-container {
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// movie poster container
.movie {
  width: calc(100% / 4 - 1%);
  background-color: rgb(26, 8, 21);
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border-radius: 20px;

}
  // Roman end

// common properties
.movie-image-container,
.movie-img,
.movie-title,
.ratings-favorites-container {
  max-width: 342px;
}
// movie image
.movie-image-container {
  width: 100%;
  position: relative;

  //Roman
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.movie-image-container :hover {
  box-shadow: 0 0 55px rgba(3, 16, 33, 0.25);
}
// Roman end
  
.movie-img {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

// release year of movie (upper right corner of image)
.release-year {
  position: absolute;
  //   background-color: var(--clr-secondary);
  background-color: #076d92;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  color: white;
  right: 0.7rem;
  top: 0.3rem;
}

.movie-description {
  padding: 3%;
}

//movie title
.movie-title {
  margin: 0.5rem 0;
}

// ratings
.ratings-favorites-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.star-rating-imdb {
  color: rgb(255, 217, 0);
}

.user-rating-container {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.rated-not-rated {
  margin-right: 2px;
}

.star-rating-user {
  color: gray;
}

.user-rating {
  display: none;
}

// Roman
.favorite-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// Roman End
  
// watched - not watched
.watched {
  display: inline-block;
  padding: 0.2rem;
  color: grey;
  border: grey 1px solid;
}

// add to favorites button
.add-to-favorites {
  cursor: pointer;
}

.add-to-favorites_grey:before {
  color: grey;
}

.add-to-favorites_red:before {
  color: red;
}


// genre overview
.genres {
  position: absolute;
  left: 0.7rem;
  top: 0.3rem;
  display: inline-block;
  margin-bottom: 0.3vw;
}

// SCREEN SIZE ADJUSTMENTS

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  // common properties
  .movie-image-container,
  .movie-img,
  .movie-title,
  .ratings-favorites-container {
    max-width: 500px;
  }
  .movie-img {
    width: 500px;
    background-image: url('../../img/movie-placeholder-unsplash-w500.jpg');
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // common properties
  .movie-image-container,
  .movie-img,
  .movie-title,
  .ratings-favorites-container {
    max-width: 342px;
  }
  .movie-img {
    width: 342px;
    background-image: url('../../img/movie-placeholder-unsplash-w342.jpg');
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Notes:
// make picture size and max width the same
// change picture or picture size with screensize
// clicking on rating opens up rating input
// add year into space for year
// clicking watched or not watched will toggle watched or not watched
// hover effect on hover over whole poster with box shadow
// make sure that all movies which were added to favorite have to also inherit the watched and favorited classnames
// put nice hover effects
// when click on image or title leads to movie description
// user rating by clicking on stars
