* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  color: #f0f4fd;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.face {
  width: 80vw;
  height: 70vh;
  background-color: #504d4d;
  border-radius: 20px;
  overflow: hidden;
}
.top-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.movie-type {
  width: 86%;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin: 25px auto 0px;
  h3 {
    margin-right: 10px;
    color: #000;
    border: 1px solid #c0c0c0;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
img {
  height: 16rem;
  width: 8rem;
  border-radius: 10px;
}
