// Body
body {
  background-color: rgb(68, 68, 68); // Change at the end
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif; // Change at the end

  // Navbar
  .des-nav {
    width: 100%;
    align-items: center;

    // Navbar -> Logo
    .des-brand {
      font-size: 1.2rem;
    }
  }

  // Main Container
  .des-container {
    // container settings
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Movie Poster
    .des-movie-poster {
      width: 95%;
      height: auto;
      border-radius: 25px;
    }

    // Movie Description (Data)
    .des-movie-data {
      padding-top: 0.25rem;

      // Movie Title
      .des-movie-title {
        font-weight: normal;
        padding-bottom: 0.75rem;
      }

      // Short Description of Movie
      .des-short-description {
        font-weight: normal;
        padding-bottom: 1.25rem;
      }

      // Movie Rating
      .des-rating-production {
        padding-bottom: 1.25rem;
        .des-rating-stars {
          font-size: 1.1rem;
          padding-bottom: 0.25rem;

          .des-rating {
            font-size: 1rem;
          }
        }

        .des-production {
          display: flex;
          font-size: 0.9rem;
        }
      }

      // Genre
      .des-genre {
        font-size: 1.2rem;
        padding-bottom: 0.25rem;
      }

      .des-class-genre {
        padding-bottom: 1.25rem;
      }

      // Movie Storyline
      .des-storyline {
        font-size: 1.2rem;
        padding-bottom: 0.25rem;
      }

      .des-story {
        padding-bottom: 1rem;
      }

      // BTN for Add to Favorites
      .des-add-btn {
        background-color: #3caad9; // change later
        border: none;
        outline: none;
        width: 9rem;
        height: 2rem;
        border-radius: 6px;
        color: white; // change later
      }
    } // Movie Description (Data) END
  } // Main Container END
}

// Small Devices
@media only screen and (min-width: 576px) {
  body {
    // Navbar
    .des-nav {
      // Navbar -> Logo
      .des-brand {
        font-size: 1.5rem;
      }
    }

    // Main Container
    .des-container {
      border: 1px dashed red;

      // Movie Poster
      .des-movie-poster {
        width: 70%;
      }

      // Movie Description (Data)
      .des-movie-data {
        padding: 1rem;

        // Movie Title
        .des-movie-title {
          padding-bottom: 0.75rem;
          font-size: 2rem;
        }

        // Short Description of Movie
        .des-short-description {
          font-size: 1.4rem;
          padding-bottom: 1.25rem;
        }

        // Movie Rating
        .des-rating-production {
          .des-rating-stars {
            font-size: 1.4rem;

            .des-rating {
              font-size: 1.4rem;
            }
          }

          .des-production {
            font-size: 1.2rem;
          }
        }
        // Genre
        .des-genre {
          font-size: 1.5rem;
        }

        .des-class-genre {
          font-size: 1.2rem;
        }

        // Movie Storyline
        .des-storyline {
          font-size: 1.5rem;
        }

        .des-story {
          font-size: 1.15rem;
        }

        // BTN for Add to Favorites
        .des-add-btn {
          width: 14.5rem;
          height: 3rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}

// // tablet large Screen
// @media only screen and (min-width: 768px) {
//   body {
//     .container {
//       flex-direction: row;
//       width: 95vw;

//       img {
//         width: 40%;
//         margin-right: 10px;
//         align-self: flex-start;
//       }

//       .movie-data {
//         margin-left: 10px;
//         height: 100%;

//         h2 {
//           font-size: 2.2rem;
//         }

//         h3 {
//           font-size: 1.6rem;
//         }

//         .rating-production {
//           display: block;
//         }

//         h4 {
//           font-size: 1.6rem;
//         }

//         .class-genre {
//           font-size: 1.4rem;
//         }

//         .story {
//           font-size: 1.35rem;
//         }

//         .add-btn {
//           font-size: 1.35rem;
//         }
//       }
//     }
//   }

//   footer {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//   }
// }

// // Desktop Screen
// @media only screen and (min-width: 992px) {
//   body {
//     display: flex;
//     justify-content: center;

//     nav {
//       position: absolute;
//       top: 0;
//       left: 0;
//     }

//     .container {
//       max-width: 1200px;
//       margin-top: 5rem;

//       img {
//         max-width: 780px;
//         margin-right: 20px;
//       }

//       .movie-data {
//         margin-left: 20px;
//       }
//     }
//   }
// }

// // Desktop lager Screen
// @media only screen and (min-width: 992px) {
//   body {
//     .container {
//       .movie-data {
//         h2 {
//           font-size: 1.8rem;
//         }

//         h3 {
//           font-size: 1.4rem;
//         }

//         h4 {
//           font-size: 1.3rem;
//         }

//         .rating-production {
//           display: flex;
//           flex-direction: row;

//           p {
//             font-size: 1rem;
//           }
//         }

//         .class-genre {
//           font-size: 1.1rem;
//         }

//         .story {
//           font-size: 1.15rem;
//         }

//         .add-btn {
//           width: 10rem;
//           height: 2rem;
//           font-size: 0.9rem;
//         }
//       }
//     }
//   }
// }
