.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $clr-primary;
  color: $clr-tertiary;
  position: relative;
}

.navbar-brand {
  font-size: 1.5rem;
  margin: 0.5rem;
  a {
    color: $clr-tertiary;
    text-decoration: none;
  }
  span {
    color: $clr-secondary;
  }
}

.navbar-pagelinks {
  height: 100%;
}

.navbar-pagelinks ul {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  // justify-content: space-between;
}

.navbar-pagelinks li {
  display: inline-block;
  list-style: none;
}

.navbar-pagelinks li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-pagelinks li:hover {
  a {
    color: $clr-primary;
  }
  background-color: $clr-tertiary;
}

//hamburger menu for mobile version
.hamburger-container {
  display: block;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  // .navbar {
  //   // flex-direction: column;
  //   align-items: flex-start;
  // }
}
@media (max-width: 575.98px) {
  .hamburger-container {
    display: block;
  }
  .navbar-pagelinks li:hover {
    a {
      color: white;
    }
    background-color: $clr-secondary;
  }

  // onclick
  .navbar-pagelinks ul {
    display: none;
    border: olivedrab 1px solid;
    height: 50vh;
    width: 40vw;
    position: absolute;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3.5rem;
    border-radius: 0 0 0 10vh;
    right: 0;
    background-color: $clr-secondary;
    z-index: 1;
  }
}
