// :root {
//   --clr-primary: #0d253f;
//   --clr-secondary: #01b4e4;
//   --clr-tertiary: #90cea1;

//   --clr-neutral-100: #e7ebee;
//   --clr-neutral-500: #333;
//   --clr-neutral-900: #06111f;

//   --ff-primary: 'Roboto', sans-serif;
//   --ff-accent: 'Playfair Display', serif;
// }
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $clr-primary;
  color: $clr-tertiary;
}

.navbar-brand {
  font-size: 1.5rem;
  margin: 0.5rem;
  a {
    color: $clr-tertiary;
    text-decoration: none;
  }
  span {
    color: $clr-secondary;
  }
}

.navbar-pagelinks {
  height: 100%;
}

.navbar-pagelinks ul {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-pagelinks li {
  display: inline-block;
  list-style: none;
}

.navbar-pagelinks li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-pagelinks li:hover {
  a {
    color: $clr-primary;
  }
  background-color: $clr-tertiary;
}
@media (max-width: 800px) {
  .navbar {
    // flex-direction: column;
    align-items: flex-start;
  }
}
