//Variables

// Fonts
$sansSerif: 'Lato';
$defaultFontSize: 16px;


//Colors
$fontColor: #FFF;
$bgColorMobile: #000;

$buttonsBg: (
        primary: #3CAAD9,
        success: #4CAF50,
        error: #910928
);


